body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .block{
    background-color: rgb(185, 169, 194);
    display: block;
    width: 1200px;
    height: 600px;
    margin:50px 100px;
    border-width:3;
    border-style:ridge;
  
  }
  #background-section font{
    color: aliceblue;
    text-align: center;
    padding-left: 22px;
  }
  
  .container {
    max-width: 500px;
    padding: 20px;
  }
  
  .info-container {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 35px;
    padding-right: 750px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(1);
    transform-origin: center center;
    margin-left: -295px;
    margin-right: 630px;
  }
  .artwork-intro {
    display: flex;
    align-items: center;
    position: relative;
  
  }
  .artwork-image img {
    width: 400px; /* 調整圖片寬度 */
    height: auto;
    margin-right: 20px; /* 調整圖片與細節之間的間距 */
}

.artwork-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.artwork-details p {
  font-size: 16px;
}
.text_content{
  width: 400px;
  height: auto;
}

.block text{
  display: block;
  width: 600px;
  height: 600px;
  color:rgb(0, 0, 0);
  float:right;
  margin:0px 0px 0px 0px;
}

.block text .text_content{
  color:rgb(0, 0, 0);
  margin:50px 100px 0px 0px;
}

.block text .text_block{
  display: block;
  background-color: aliceblue;
  width: 450px;
  height: 287px;
  margin:0px;
  border-width:3;
  border-style:ridge;
}
input{
  background-color: rgb(228, 228, 228,0.7);
  color: black;
  border: none;
  border-radius: 9px;
  padding: 5px;
  width: 55px;
  height: 30px;
  margin-top: 570px;
  margin-left: -450px;
  text-align: center;

}
