body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

#header.container{
    background-color: #000;
}

  /* 品牌樣式 */
header img {
    height: 40px; /* 品牌圖片的高度 */
    width: 80px; /* 自動調整品牌圖片的寬度 */
    margin-right: 10px; /* 品牌圖片右邊的間距 */
}

header li{
    color:aliceblue;
    font-size: xx-large;
    font-display: block;
    font-weight: bolder;

    position: relative;    
    display: inline-block;
    padding-left: 38%;
    text-decoration: none; /* 移除預設文字底線 */
}

#background-section {
    background-image: url('展覽背景圖.avif');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .container {
    margin-top: 8%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 40px;
    padding-right: 45px;
    border-radius: 10px;
    backdrop-filter: blur(1px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1);
    transform-origin: center center;
    margin-left: 150px;
    margin-right: 630px;
  }

  a{
    text-decoration: none;
  }
.back button{
    background-color: rgb(18, 102, 147);
    padding: 10px 20px;
    color: #fff;
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    width: 150px;
    margin-top: -55px;
  }
